.about-container{
  width: 80%;
  display: flex;
  margin-top: 7rem;
}

.about-container h1{
  font-size: 2.5rem;
  font-weight: 550;
}

.about-container h2{
  font-size: 1.5rem;
}

.about-part1 {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap:10px;
}

.job-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.3em;  
}

.job-logo img{
  margin-top: 2px;
}


.about-part1-email-location{
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.about-part1-email,
.about-part1-location{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.about-part1-bio{
  width: 60%;
  margin-bottom: 10px;
}

.about-part1-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.resume-download-btn{
  height: 36px;
  width: 100px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  background-color: #fff;
  color: #000;
  transition: 0.4s;
}

.resume-download-btn:hover{
  background-color: #d6d5dd;
}

.resume-download-btn p{
  font-weight: 600;
  font-size: small;
}

.about-part1-link-box{
  height: 36px;
  width: 41px;
  color: #fff;
  background-color: #000 ;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e7eb;
  transition: color 0.5s;
}

.about-ink-box-white{
  color: #000;
  background-color: rgb(255, 255, 255) ;
}

.about-part1-link-box:hover{
  color:#a8a3a3;
}

.about-part2{
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tech-box{
  height: 120px;
  width: 120px;
  border-radius: 10px;
  margin: 25px 15px;
  animation: float 4s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-box img{
  height: 50px;
  width: 50px; 
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, -10px);
  }
  50% {
    transform: translate(0px, -5px);
  }
  75% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.about-part2 .tech-box:nth-child(2) {
  animation-delay: 0.3s;
}
.about-part2 .tech-box:nth-child(3) {
  animation-delay: 0.6s;
}
.about-part2 .tech-box:nth-child(4) {
  animation-delay: 0.9s;
}

@media only screen and (max-width: 1024px) {
  
  .about-part1-email-location{
    align-items: start;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .about-container{
    flex-direction: column;
    top:10rem;
    gap:2rem;
  }

  .about-part1-email-location{
    align-items: start;
    flex-direction: column;
  }

  .about-part1-bio{
    width: 80%;
  }
}