.contact-form.dark {
  --bg: #0a0a0a;
  --input-bg: #18181b;
  --input-border: #3f3f46;
  --input-text: #f3f4f6;
  --placeholder: #9ca3af;
  --focus-border: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000000;
  --button-hover: #d6d5dd;
  --disabled-bg: #ffffff;
}

.contact-form.light {
  --bg: #ffffff;
  --input-bg: #f9fafb;
  --input-border: #d1d5db;
  --input-text: #111827;
  --placeholder: #6b7280;
  --focus-border: #000000;
  --button-bg: #000000;
  --button-text: #ffffff;
  --button-hover: #3e3d3d;
  --disabled-bg: #000000;;  
}

.contact-form {
  width: 100%;
  max-width: 600px;
  transition: all 0.3s ease;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-name-part {
  display: flex;
  gap: 1rem;
}

.form-name-part .input {
  flex: 1;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  font-size: 0.95rem;
  background: var(--input-bg);
  color: var(--input-text);
  transition: all 0.2s ease;
}

.input::placeholder {
  color: var(--placeholder);
}

.input:focus {
  border-color: var(--focus-border);
  outline: none;
}

textarea.input {
  min-height: 120px;
  resize: vertical;
}

button.submit {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.submit:hover {
  background: var(--button-hover);
}

.form-msg-true {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color:#000000;
}

.form-msg-true-white {
  color: #ffffff;
}

.form-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  background-color: rgba(14, 53, 30, 0.6);
  border-radius: 10px;
  padding: 2rem 0;
  text-align: center;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(14, 51, 15, 1);
}

.form-submit-container-white {
  background-color: rgba(204, 236, 217, 0.6);
  border: 1px solid rgb(119, 183, 121);
}

.form-submit-container p {
  width: 70%;
}

.form-submit-container button{
  width: 45%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form-submit-container button:hover {
  background: var(--button-hover);
}


@media only screen and (max-width: 900px) {
  .form-submit-container p {
    width: 90%;
  }

  .form-submit-container button{
    width: 70%;
  }
}

@media only screen and (max-width: 1020px) {
 
  .form-submit-container button{
    width: 55%;
  }
}