.exp-container {
  width: 80%;
  display: flex;
  margin: 5rem 0; 
}

.exp-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}
.exp-part1-name h1{
  font-weight: bold;
  font-size: 1.5rem;
}

.exp-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.exp-list-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:15px;
}

.exp-title-company {
  display: flex;
  flex-direction: column;
}

.exp-details {
  margin-left: 16px;
}

.exp-tech-used {
  display: flex;
  gap:10px;
}
.exp-tech-icon-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.exp-tech-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.exp-tech-icon:hover {
  transform: translateY(-5px);
  border: 1px solid #737272;
}


.exp-tech-icon img {
  width: 50%;
}

.exp-tech-name p{
  font-size: x-small;
}


@media only screen and (max-width: 768px) {
  .exp-title-company {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}