 .app-container {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
 }

 /* .about-part {
  width:100%;
  height: 50rem;
  background-color: rgb(30, 33, 210);
  border: 1px solid black;
  top:10rem;
 } */


 .about-part1 {
  width:100%;
  height: 50rem;
  background-color: chocolate;
  border: 2px solid black;
 }

 