* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  --icon-white-mode: rgb(217, 217, 218);
  --icon-dark-mode: rgb(34, 34, 36);
}

.white-icon {
  background-color: var(--icon-white-mode);
}

.dark-icon {
  background-color: var(--icon-dark-mode);
}

a {
  text-decoration: none;
  color: inherit;        
}

.bold {
  font-weight: 450;
}


.grey {
  color: #909096;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.black-theme {
  color: #ffffff;
  background-color: #000000
}

.white-theme {
  color: #000000;
  background-color: #ffffff
}

.m-font {
  font-size: medium;
}

.s-font {
  font-size: small;
}

.l-font {
  font-size: larger;
}
